<!-- Header -->
<header id="header">
    <div class="logo"><a href="/">Road Trip <span>by TEMPLATED</span></a> {{test}}</div>
    <a href="#menu"><span>Menu</span></a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="generic">Generic</a></li>
        <li><a href="elements">Elements</a></li>
    </ul>
</nav>

